body {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', arial, helvetica, sans-serif;
    background-image: url('images/table.png');
    text-align: center;
    color: white;
    font-weight: bold;
    background-size: cover;

}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;

}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}