body {
    margin: 0;
    padding: 10;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;

}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
    margin-bottom: 4px;
}

button {
    background-color: #5f9341;
    color: white;
    padding : 10px 20px;
    border: 1px solid #5f9341;
    font-weight: bold;

}

#delete-btn
{
    background: white;
    color: #5f9341;
}

ul
{
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;

}

li
{
    margin-top: 5px;
}

li a
{
    color: #5f9341;
}