/* Styles for the Passenger Counter App */
// originally from https://github.com/scrimba/learn-javascript/blob/9d2e4cf7b20b1177fb1c89402ae9f34a7d6c675c/1.%20Build%20a%20Passenger%20Counter%20App/07.%20Adding%20a%20button/index.css
body {
  background-size: cover;
  font-weight: bold;
  text-align: center;
}

h1 {
  margin-top: 12px;
  margin-bottom: 12px;
}

h2 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 20px;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
  transition: transform 0.3s, background-color 0.3s;
}

#increment-btn {
  background: darkred;
}

#increment-btn:hover {
  background: #ff3333;
  transform: scale(1.1);
}

#save-btn {
  background: darkgreen;
}

#save-btn:hover {
  background: #33cc33;
  transform: scale(1.1);
}
